

*{
    margin: 0px;
    padding: 0px;
}


.main-box{


     width: 100%;
     height: 100vh;
     background-color: rgb(49, 47, 47);
}

h1{

    color: white;
}

/* .video-box{

    width: 200px;
    height: 200px;
} */